/* index.css or your main CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #ffcc00;
  color: #002366;
}

.card-shine-effect {
  --shine-deg: 45deg;
  position: relative;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: -100% 0, 0 0;
  background-image: linear-gradient(
    var(--shine-deg),
    transparent 20%,
    transparent 40%,
    rgb(68, 68, 68, 0.2) 50%,
    rgb(68, 68, 68, 0.2) 55%,
    transparent 70%,
    transparent 100%
  );
  background-size: 250% 250%, 100% 100%;
  transition: background-position 0s ease;
  transition: all;
}
.card-shine-effect:hover {
  background-position: 200% 0, 0 0;
  transition-duration: 1s;
  scale: 1.02;
}

.dashboard-container {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
